# {{ ansible_managed }}

logfile /var/log/ntpd.log
{% for item in cts_role_ntp.servers %}
{%if item.type == 'server' %}server {{ item.address }}
{% else %}pool {{ item.address }}
{% endif %}
{% endfor %}
tinker panic 0
{% for restrict in cts_role_ntp.restrict %}
restrict {{ restrict }}
{% endfor %}
driftfile /var/lib/ntp/ntp.drift
statsdir /var/log/ntpstats/
